body {
    background-color: rgb(58, 57, 57);
    color: aliceblue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: burlywood;
}

.container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    text-align: center;

}

select {
    background-color: rgb(58, 57, 57);
    color: whitesmoke;
    font-size: 1rem;
    padding: 0.1rem;
    border: 2px solid rgb(94, 94, 94);
    outline: none;
}

select option {
    background-color: rgb(58, 57, 57);
    color: whitesmoke;
    border: none;
    outline: none;
}

.slidecontainer {
    display: flex;
}


#canvas1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guide {
    flex: 0 0 100%;
}