/*Full page background*/
html{background-color:black;  font-family: Roboto, sans-serif;}


/*Google fonts*/
@font-face {font-family: Bungee_Inline; src: url(/Fonts/Bungee_Inline/BungeeInline-Regular.ttf);}
@font-face {font-family: Grenze_Gotisch; src: url(/Fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf);}
@font-face {font-family: Indie_Flower; src: url(/Fonts/Indie_Flower/IndieFlower-Regular.ttf);}
@font-face {font-family: Press_Start_2P; src: url(/Fonts/Press_Start_2P/PressStart2P-Regular.ttf);}
@font-face {font-family: Roboto; src: url(/Fonts/Roboto/Roboto-Regular.ttf);}
@font-face {font-family: Shadows_Into_Light; src: url(/Fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);}

#demo {font-family: Press_Start_2P, sans-serif; font-size: 20px; text-align: center;}
#login{float: right; font-size: 30px; padding-right: 30px;}
#menuLabel a {font-size: xx-large; font-family: Indie_Flower, sans-serif; padding-right: 100px; } 
#simpleText {text-align: left; margin: 10px; font-size: large; background-color:rgb(199, 199, 199); margin-bottom: 100px; visibility:visible;}
#fontBCKG{background-color:rgb(199, 199, 199); width: max-content; margin-left: 0; margin-left: auto; margin-right: auto; padding: 5px;}
.contentIMG {width: 300px; margin-bottom: 50px; box-shadow: 0px 0px 8px 2px black;}
p {text-align: left; font-size: large; margin: 10px; margin-bottom: 20px;}
h3 {text-align: left; margin: 10px;}


/* All buttons style on page*/
.btn {font-size: xx-large; font-weight: 500; font-family: Indie_Flower, sans-serif; background-color:white; color:black; border: 2px solid black; border-radius: 15px; padding: 5px;  box-shadow: 5px 5px 40px 1px black inset;}
.btn:hover {text-shadow: 3px 3px 5px black; outline: 0;  box-shadow: 5px 5px 30px 1px black inset;}
.btn:focus{outline: 0; }
#orderBtn{margin-left: 105px; margin-top: 20px; margin-bottom: 20px;}
.userBtn{font-size:x-large; padding: 1px;}

/* Top menu*/
ul { list-style-type: none; margin: 0px; padding: 2px; overflow: hidden; background-color:gainsboro; font-family: Indie_Flower, sans-serif; position: fixed; width: 100%; top: 0; left: 0; box-shadow: 5px 5px 40px 3px black inset;}
li { float: left; }
li a { display: block; font-size: xx-large; text-align: center; padding: 2px 15px ; text-decoration: none; text-shadow: 0px 0px 2px black; }
li a:hover {transform: translateY(4px); text-shadow: 0px 0px 8px gold; color: rgb(255, 255, 255);}

/* Content div 3 column*/
.column { margin-right: auto; margin-left: auto; height:max-content; margin-top: 165px;}
.middle { color:rgb(25, 42, 42); background-color:gainsboro; width: 70%;  box-shadow: 1px 1px 4px 4px gainsboro; text-align: center; padding: 10px; margin-top: 15px;}
.left, .right {width:30%;}

/* Calculator style */
#calcStyle { width: max-content; height: max-content; background-color:gainsboro; margin-left: auto; margin-right: auto; font-size: large; border: 7px outset rgb(199, 199, 199);box-shadow: 5px 5px 40px 1px black inset; }
#calcBtn button { font-size: 35px; background-color: rgb(255, 255, 255, 0.1); color:black; width: 23%; outline: none;}
#calcBtn button:hover { box-shadow: 5px 5px 10px 1px black inset;}
#calcInput { background-color: #000000; font-size: 22px; margin: 10px; color: white}
#calcLabel {color:white; font-family: Press_Start_2P, sans-serif; font-size: large;} 

/* Login form  */
.formBoxHide { visibility: hidden;}
.formBox{ margin-left: auto; margin-right: auto; font-size: x-large; width: 305px; padding: 10px; box-shadow: 0px 0px 5px black;}
#user, #passwd, #name, #email, #address, #comment, #loginUser, #loginPasswd, #regUser, #regPasswd, #regEmail{width: 90%; font-size: x-large; border: 0px;}
.formBoxCHK {text-align: left; font-size: 17px; padding-top: 10px;}
.formBox input[type="radio"]{margin-left: 5px; margin-bottom: 25px; padding: 50px;}
.radio{width: 17px; height: 17px;}
#formBoxSelect{font-size: 22px; padding-top: 30px; text-align: left; font-weight: bold;}
#formBoxSelect select[name="sauce"]{font-size: 25px; border: 0px; width: 100%; margin-top: 10px;}
#formBoxSelect input[name="quantity"]{font-size: 25px;border: 0px; width: 100%; margin-top: 10px; }
.smallText{font-weight: 100; font-size: medium;}
#alertInput {padding: 0; text-align: center; color: red;}


/* Gallery page */
.sorryDIV { font-size: xx-large; display: none; }
 a:link, a:visited {color: inherit; text-decoration: none;}
.galleryDIV {display:none;}
.galleryDIV p {text-align: center; font-size: xx-large;}
.galleryDIV img {width:95%; box-shadow: 0px 0px 8px 2px black; margin-bottom: 5px; }


/*sandbox style*/
#sandBox {width:max-content; height: 500px; background-color:dimgray; margin-left: auto; margin-right: auto;
    font-size: 28px; padding: 5px; text-shadow: 2px 2px 4px black; border: 2px solid white;}


/*User Table*/
.userTable{ width: 95%;margin-left: auto; margin-right: auto;  box-shadow: 0px 0px 5px black; font-size: x-large; border-collapse: collapse;}

.userTable tr:nth-child(even) {background-color:rgb(255, 255, 255)}
.userTable tr:nth-child(odd) {background-color:rgb(195, 195, 195)}



/*Table*/
.table {  text-align: left; padding: 10px;}
.table td, th{padding-left: 50px; padding-bottom: 10px; }

/*Menu table css selector test*/
#tableMenu{width: 70%; margin-left: auto; margin-right: auto; border-collapse: collapse; margin-top: 50px;}
#tableMenu th {text-shadow: 0px 0px 15px rgb(247, 250, 55); font-size: xx-large; padding-top: 7px; padding-bottom: 0px; color: gainsboro; box-shadow: 0px 0px 100px 10px rgb(0, 0, 0) inset;}
#tableMenu td {font-size: x-large;}

#tableMenu tr:nth-child(even) {background-color:rgb(255, 255, 255)}
#tableMenu tr:nth-child(odd) {background-color:rgb(195, 195, 195);}
#tableMenu th:first-child{text-align: left; padding-left: 0;}
#tableMenu th:last-child{text-align: right;}

#tableMenu td:nth-child(2n){text-align: left; }
#tableMenu th:nth-child(2n){width: 60%; padding-left: 120px;}
#tableMenu td:first-child{text-align: left;}


/* Weather widget*/
#weatherDIV {font-family: Roboto, sans-serif; font-size: large; font-weight: 550; position: fixed; width: 100%; top:55px; left: 0;
    box-shadow: 0px 0px 5px black;   background-color: rgb(32, 32, 32); color: rgb(255, 255, 255); text-shadow: 0px 0px 3px gold;} 

#day {font-size: 17px; border: 0px; border-radius: 15px;  margin-top: 5px; padding-top: 3px; padding-bottom: 3px; color: aliceblue; text-shadow: 0px 0px 3px gold;background-color: rgb(32, 32, 32); }
#day:focus{outline: 0; }
.weather{width: 100%; text-align: center;}
#weatherRight{ text-align: right; padding-right: 10px;}
#weatherLeft{ text-align: left; padding-left: 10px;}
#weatherWidget {padding: 0; font-size: 17px; padding-left: 30px; padding-right: 30px; color: aliceblue; text-shadow: 0px 0px 3px gold; background-color: rgb(32, 32, 32);}
#offerDiv{font-size: x-large; animation: mymove 7s infinite; letter-spacing: 7px;  }
@keyframes mymove { 50% {opacity: 0%;} }



/*Content on smartphones*/
@media screen and (max-width: 815px) {
    
    .middle {width: 93%; margin-left: auto; margin-right: auto; margin-top: 245px;}  
     #menuLabel {width: 100%; margin-left: 0; margin-right: 0; margin-bottom: 5px; }
     #menuLabel a { font-size:37px; }    
     li a {font-size: 23px;  padding: 2px 5px; }
     li a:active {background-color:  rgb(18, 216, 100);}
     #login { padding-right: 10px; }
     .galleryDIV img {width: 100%;}
     .formBox {width: 305px}
     #calcBtn button {font-size: 35px;}
     #calcInput {font-size: 22px;}
     h1 {font-size: 30px; margin-bottom: 50px;}
     #formLabel {font-size: 24px;}
     #sandBox {font-size: 25px;}
     #simpleText {text-align: left; margin: 10px; font-size: large;}
     #mobileIMG {width: 200px;}
     #fontBCKG{font-size: small;}  
     #tableMenu{width:100%;  border: 1px solid black;}   
     #tableMenu th:nth-child(2n) {font-size: 20px; padding-left: 60px;}
     #tableMenu td {font-size: 22px; }
     #weatherDIV{top: 103px; font-size: medium;}
     #offerDiv{font-size: medium; letter-spacing: 3px;}

     
     }

